
# Python-generated
__pycache__/
*.py[cod]
*$py.class

# Remains of package creation
.Python
env/
develop-eggs/
eggs/
.eggs/
*.egg-info/
.installed.cfg
*.egg*

# Jupyter notebooks for testing
test_notebooks/

# Jupyter notebook checkpoints
.ipynb_checkpoints

# Plots from publication notebooks
publication/notebooks/**/plots/

# Old unorganized notebooks
/preliminary_experiments/
/results_analysis/

# env and virtual env
.env
.venv
venv/
ENV/

# macOS
.DS_Store

# VScode
.vscode

# Test results
test_results/
